* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

header {
    height: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding-right: 10rem;
}

h1 {
    margin-left: 10rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    color: black;
    text-decoration: none;
}

#about {
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.text {
    padding: 2rem 4rem 4rem 10rem;
}

#projects {
    padding: 2rem 8rem 4rem 10rem;
}

#projects ul {
    margin: 1rem 0 0 1rem;
    line-height: 2rem;
    font-weight: 600;
}

#open {
    background: none;       /* Removes the background */
    border: none;           /* Removes the border */
    padding: 0;             /* Removes any padding */
    margin: 0;              /* Removes any margin */
    font: inherit;          /* Inherits font properties like size, family, weight */
    color: inherit;         /* Inherits text color */
    text-align: inherit;    /* Inherits text alignment */
    outline: none;          /* Removes the default focus outline */
}

#open:hover{
    cursor: pointer;
}

.popup {
    height: 55rem;
    width: 50rem;
    border: 0.5rem solid rgb(112, 112, 112);
    border-radius: 1rem;
    padding: 4rem;
    position: absolute;
    visibility: hidden;
    background-color: white;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
}

.popup h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.popup img {
    width: 41rem;
}

.popup h3 {
    font-weight: 650;
    margin-top: 1.5rem;
}

.popup button {
    margin: 0 18rem;
    font-size: 1.4rem;
    padding: 0.2rem;
    background-color: grey;
    color: white;
    margin-top: 0.8rem;
}

.popup button:hover {
    cursor: pointer;
}

#achievements {
    padding: 2rem 8rem 4rem 10rem;
}

#achievements ul {
    margin: 1rem 0 0 1rem;
    line-height: 2rem;
    font-weight: 550;
}